<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Todo List</title>
        <link rel="icon" type="image/png" href="client/favicon.ico" />
        <link rel="stylesheet" href="static/tailwind.css">
    </head>
    <body>
        <div id="app">
            <div class="w-full flex flex-wrap justify-center">
                <div class="w-1/2">
                    <h1 class="w-full text-center mt-4 text-grey-darker leading-tight">TodoList</h1>
                    <div class="w-full">
                        <div class="w-full mb-4 ml-auto mr-auto">
                          <label class="block text-grey-darker text-sm font-bold mb-2">
                            Todo
                          </label>
                          <input v-model="todo" @keyup.enter="create()" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:border-blue"type="text" placeholder="Write you todo here..." ref="input">
                        </div>
                    </div>
                    <div class="w-full">
                        <ul class="list-reset mt-4">
                            <li class="border border-grey-lighter p-3 shadow flex justify-between my-2" v-for="(todo, i) in todoList" @dblclick="edit(todo)">
                                <div class="flex items-center">
                                    <div>
                                        <p class="mb-1">{{todo.text}}</p>
                                        <span class="text-grey-dark">{{this.moment(todo.date).fromNow()}}</span>
                                    </div>
                                </div>
                                <div class="flex">
                                    <button
                                    @click="edit(todo)" 
                                    class="text-blue px-3 border border-blue rounded-full hover:shadow focus:outline-none mr-1">
                                        &#8634;
                                    </button>
                                    <button
                                    @click="destroy(todo)" 
                                    class="text-red px-3 border border-red rounded-full hover:shadow focus:outline-none">
                                        &#10539;
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>

        </div>
    </body>
    <script src="static/axios.js"></script>
    <script src="static/vue.js"></script>
    <script src="static/moment.js"></script>
    <script src="client/app.js"></script>
</html>
